/* .big{
    font-size: 100px;
    color:red;
    border: 5px solid yellow;
} */
 
/* body{
    background-color: yellow;
    height: 800px;
    width: 100%;
}
.hlo{
    text-align: center;
    background-color: aqua;
    
} */
.winner{
    background-color: green;
}