<div class="container p-3 " >
    <input type="button" class="btn btn-primary mt-2" value="login" ng-click="login()" >
    <input type="button" class="btn btn-primary mt-2" value="signIn" ng-click="signIn()">
</div>


<!-- //login -->
<form class="container hlo" ng-show="login1">
  
    <div class="mb-3">
      <label for="Username1" class="form-label">Username</label>
      <input type="Username" class="form-control" id="Username1" ng-model="Username" >
     
    </div>
    <div class="mb-3">
      <label for="Password1" class="form-label">Password</label>
      <input type="Password" class="form-control" id="Password1" ng-model="Password">
      <!-- <button class="btn btn-primary mt-2" ng-click="Password()">Password</button> -->
    </div>
    <button class="btn btn-primary mt-2" ng-click="Register()">Register</button>
  </form>

<br><br>

  <!-- signup -->


  <form class="container hlo" ng-show="signIn1">

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="email">
      </div>
  
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="Username" class="form-control" id="Username" ng-model="Username" >
     
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="Password" class="form-control" id="Password" ng-model="Password">
      <button class="btn btn-primary mt-2" ng-click="SignIn11()">Signup</button>
    </div>
  </form>