
<div class="hlo">
    
<form class="container">
    <div class="login">
        <a href=""></a>
    </div>
    <div class="mb-3">
      <label for="exampleInputname" class="form-label">Name</label>
      <input type="name1" class="form-control" id="name1" ng-model="dd">
   
    </div>
    <div class="mb-3">
      <label for="exampleInputUPI" class="form-label">UPI ID</label>
      <input type="UPI" class="form-control" id="exampleInputUPI"  ng-model="upi">
    </div>
 
    <button type="submit" class="btn btn-primary" ng-click="data1()">Login</button>
  </form>
</div>